.ammonite
.mypy_cache
*~
.*.swp
.idea
.scala-build
.bsp
.metals
codacy-semgrep.iml
.vscode
project
target
bin
cache
*.gen.go

# Ignore generated documentation files to avoid licensing issues
docs/patterns.json
docs/description/*.md
docs/description/*.json
docs/rules.yaml
docs/semgrep-pro-rules.yaml
.DS_Store
.codacyrc
auto.yaml
